* {
  margin: 0;
  padding: 0;
}

.navigation-bar {
  display: flex;
  float: right;
  margin-right: 130px;
  padding: 10px 5px 30px 5px;
}

nav li {
  display: flex;
  margin-right: 20px;
}

nav a {
  color: #22263f;
  text-decoration: none;
  font-size: 23px;
  font-family: "Shrikhand", cursive;
  margin-left: 20px;
}

a:hover {
  color: rgb(245, 155, 76);
  border: rgb(245, 155, 76);
  box-shadow: 0 -2px 0 0 rgb(245 155 76);
}

section {
  display: flex;
  min-height: calc(100vh - 230px);
  width: 100%;
}

.home-page-container {
  margin-top: 80px;
}

.home-text-box {
  display: flex;
  width: 700px;
  height: 1010px;
  background-color: rgb(255, 218, 185);
  margin-top: -180px;
  position: absolute;
  align-items: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  margin-left: 340px;
  z-index: 100;
}

.greeting {
  font-family: "Racing Sans One", cursive;
  font-size: 60px;
  margin-left: 70px;
  color: #22263f;
}

.name-line {
  display: flex;
}

.name-start {
  padding-top: 8px;
  color: rgb(72 72 70);
  font-size: 25px;
  font-weight: 700;
}

.name-end {
  font-size: 30px;
  font-family: "Racing Sans One", cursive;
  color: #22263f;
  margin-left: 10px;
}

.ocupation-start {
  color: rgb(72 72 70);
  font-size: 25px;
  font-weight: 700;
}

.ocupation-mid {
  color: #22263f;
  font-size: 45px;
  font-weight: 700;
  font-family: "Racing Sans One", cursive;
  margin-left: 10px;
}
.ocupation-end {
  color: #22263f;
  font-size: 45px;
  font-weight: 700;
  font-family: "Racing Sans One", cursive;
  margin-left: 50px;
}

.home-image-box {
  display: flex;
  width: 1500px;
  height: 930px;
  background-color: rgb(255, 203, 157);
  position: absolute;
  margin-left: 600px;
  margin-top: -100px;
  justify-content: center;
  align-items: center;
}

.home-image {
  height: 70vh;
  background-size: cover;
  text-align: center;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 100px;
  box-shadow: 0px 0px 0 0 rgb(226, 202, 171);
}

.home-image.active {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  box-shadow: -50px 50px 0 0 antiquewhite;
  transition: all 1.2s ease;
}

footer {
  height: 50px;
  background-color: white;
}

.about-header {
  background-color: rgb(255, 203, 157);
  width: 100%;
  height: 5px;
  position: absolute;
  margin-top: 60px;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 50px;
  color: #22263f;
  background-color: white;
  width: 10%;
  margin-left: 300px;
  margin-top: -25px;
  display: flex;
}

.image-text-container-1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 350px;
  padding-top: 80px;
  align-content: center;
}

.about-me-image {
  width: 220px;
  height: 300px;
  background-image: url("Images/Me.jpg");
  background-size: cover;
  border-radius: 10%;
  opacity: 0.8;
  border: 7px solid rgb(255, 203, 157);
}

.about-text {
  width: 600px;
  height: 200px;
  justify-content: center;
  color: #22263f;
  font-size: 40px;
  font-family: "Handlee", cursive;
  font-weight: 400;
  padding-top: 100px;
}

.image-text-container-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 80px;
  align-content: center;
}

.about-hobbi-image {
  width: 350px;
  height: 250px;
  background-image: url("Images/About.jpg");
  background-size: cover;
  border-radius: 10%;
  opacity: 0.9;
  border: 7px solid rgb(255, 203, 157);
  margin-right: 100px;
}

.about-hobbi-text {
  width: 350px;
  height: 150px;
  justify-content: center;
  color: #22263f;
  font-size: 40px;
  font-family: "Handlee", cursive;
  font-weight: 400;
  padding-top: 100px;
}

.icon-container {
  display: flex;
  padding-top: 60px;
  justify-content: center;
}

.fas {
  color: #22263f;
  font-size: 50px;
  justify-content: center;
  border: 2px;
  border-color: #22263f;
  background-size: 500px 500px;
  background-color: rgb(255, 203, 157);
  border-width: 5px;
  border-style: solid;
  border-image: initial;
  border-radius: 50% 50% 50% 50%;
  padding: 0.8% 0.8% 0.8% 0.8%;
}

.fa-user-graduate {
  margin-right: 100px;
}

.fa-icons {
  margin-left: 100px;
}

.contact-header {
  display: flex;
  padding-top: 150px;
  justify-content: center;
  font-family: "Racing Sans One", cursive;
  font-size: 60px;
  margin-left: 70px;
  color: #22263f;
}

.contact-container {
  display: flex;
}

.container-1 {
  width: 100px;
  height: 250px;
  display: grid;
}

.fab {
  color: #22263f;
  font-size: 50px;
  justify-content: center;
  border: 2px;
  border-color: #22263f;
  background-size: 500px 500px;
  background-color: rgb(255, 203, 157);
  border-width: 5px;
  border-style: solid;
  border-image: initial;
  border-radius: 50% 50% 50% 50%;
  padding: 0.8% 0.8% 0.8% 0.8%;
}

.container-2 {
  width: 300px;
  border: 2px;
  border-color: #22263f;
  border-style: solid;
  border-image: initial;
  background-color: rgb(255, 203, 157);
}

.container-3 {
  width: 500px;
  border: 2px;
  border-color: #22263f;
  border-style: solid;
  border-image: initial;
}

input {
  display: flex;
  justify-content: center;
}
