* {
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: white;
}

.navigation-bar {
  display: flex;
  float: right;
  text-decoration: none;
  margin-right: 130px;
}

.navigation-bar > li {
  display: flex;
  margin: 20px;
  margin-right: 20px;
}

a:hover {
  color: rgb(63, 1, 63);
}

.navigation-bar > li > a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-family: "Shrikhand", cursive;
}

section {
  display: flex;
  min-height: calc(100vh - 100px);
  width: 100%;
}

.home-page-container {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-top: 80px;
  position: relative;
}

.home-text-box {
  display: flex;
  width: 700px;
  height: 980px;
  background-color: peachpuff;
  background-size: cover;
  margin-top: -130px;
  position: absolute;
  align-items: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
  z-index: 100;
}

.home-text > li {
  margin-bottom: 20px;
  list-style-type: none;
}

.greeting {
  font-family: "Racing Sans One", cursive;
  font-size: 60px;
  margin-left: 30px;
}

.name-line {
  display: flex;
}

.name-start {
  margin-top: 8px;
  color: rgb(95, 93, 93);
}

.name-end {
  margin-left: 8px;
  font-size: 30px;
  font-family: "Racing Sans One", cursive;
}

.ocupation {
  color: rgb(95, 93, 93);
  font-size: 25px;
  font-weight: 700;
}

.home-image-box {
  display: flex;
  width: 1500px;
  height: 900px;
  background-color: rgb(247, 199, 157);
  position: absolute;
  margin-left: 600px;
  margin-top: -50px;
}

.home-image {
  background-image: url("Images/home-image.jpg");
  width: 700px;
  height: 570px;
  background-size: cover;
  text-align: center;
  margin: auto;
  opacity: 0.8;
  border-radius: 50%;
}

footer {
  height: 50px;
  background-color: white;
}

.about-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-header {
  color: orange;
  font-family: "Berkshire Swash", cursive;
  font-family: "Shrikhand", cursive;
  font-size: 60px;
  opacity: 0.7;
  justify-content: center;
  margin-top: 50px;
}

.image-text-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 80px;
}

.about-image {
  width: 400px;
  height: 550px;
  background-image: url("Images/Me.jpg");
  background-size: cover;
  border-radius: 10%;
  opacity: 0.8;
}

.about-image:hover {
  opacity: 1;
}

.about-text {
  width: 400px;
  height: 550px;
  justify-content: center;
  color: orange;
  font-size: 50px;
}
