* {
  margin: 0;
  padding: 0;
}

.navigation-bar {
  display: flex;
  float: right;
  margin-right: 130px;
  padding: 10px 5px 30px 5px;
}

nav li {
  display: flex;
  margin-right: 20px;
}

.li {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

.active,
.li:hover {
  background-color: rgb(245, 155, 76);
}

nav a {
  color: rgb(34, 38, 63);
  text-decoration: none;
  font-size: 23px;
  font-family: "Shrikhand", cursive;
  margin-left: 20px;
}

a:hover {
  color: rgb(245, 155, 76);
  border: rgb(245, 155, 76);
  box-shadow: 0 -2px 0 0 rgb(245, 155, 76);
}

section {
  display: flex;
  min-height: calc(100vh - 230px);
  width: 100%;
}

.home-page-container {
  margin-top: 80px;
}

.home-text-box {
  display: flex;
  height: 1010px;
  background-color: rgb(255, 218, 185);
  margin-top: -180px;
  position: absolute;
  align-items: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  margin-left: 340px;
  z-index: 100;
}

.greeting {
  font-family: "Racing Sans One", cursive;
  font-size: 60px;
  margin-left: 70px;
  color: rgb(34, 38, 63);
}

.name-line {
  display: flex;
}

.name-start {
  padding-top: 8px;
  color: rgb(72, 72, 70);
  font-size: 25px;
  font-weight: 700;
}

.name-end {
  font-size: 30px;
  font-family: "Racing Sans One", cursive;
  color: rgb(34, 38, 63);
  margin-left: 10px;
}

.ocupation {
  margin-top: 10px;
}

.ocupation-start {
  color: rgb(72 72 70);
  font-size: 25px;
  font-weight: 700;
  margin-left: -60px;
}

.ocupation-end {
  color: rgb(34, 38, 63);
  font-size: 45px;
  font-weight: 700;
  font-family: "Racing Sans One", cursive;
}

.home-image-box {
  display: flex;
  width: 1500px;
  height: 930px;
  background-color: rgb(255, 203, 157);
  position: absolute;
  margin-left: 600px;
  margin-top: -100px;
  justify-content: center;
  align-items: center;
}

.home-image {
  height: 70vh;
  background-size: cover;
  text-align: center;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 100px;
  box-shadow: 0px 0px 0 0 rgb(226, 202, 171);
}

.home-image.active {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  box-shadow: -50px 50px 0 0 antiquewhite;
  transition: all 1.2s ease;
}

footer {
  height: 50px;
  background-color: white;
}

.About-background {
  position: relative;
  background-color: #f9e2cd;
  opacity: 0.4;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #f9e2cd 14px
    ),
    repeating-linear-gradient(#f7c98355, #f7c983);
}

.about-header {
  background-color: rgb(255, 203, 157);
  width: 100%;
  height: 5px;
  position: absolute;
  margin-top: 60px;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 50px;
  color: rgb(34, 38, 63);
  background-color: white;
  width: 10%;
  margin-left: 300px;
  margin-top: -25px;
  display: flex;
}

.image-text-container-1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 350px;
  padding-top: 80px;
  align-content: center;
}

.about-me-image {
  width: 220px;
  height: 300px;
  background-image: url("Images/Me.jpg");
  background-size: cover;
  border-radius: 10%;
  opacity: 0.8;
  border: 7px solid rgb(255, 203, 157);
  margin-top: 30px;
}

.about-text {
  width: 600px;
  height: 200px;
  justify-content: center;
  color: rgb(34, 38, 63);
  font-size: 40px;
  font-family: "Handlee", cursive;
  font-weight: 400;
  padding-top: 100px;
}

.image-text-container-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 80px;
  align-content: center;
}

.about-hobbi-image {
  width: 350px;
  height: 250px;
  background-image: url("Images/About.jpg");
  background-size: cover;
  border-radius: 10%;
  opacity: 0.9;
  border: 7px solid rgb(255, 203, 157);
  margin-right: 100px;
}

.about-hobbi-text {
  width: 350px;
  height: 150px;
  justify-content: center;
  color: rgb(34, 38, 63);
  font-size: 40px;
  font-family: "Handlee", cursive;
  font-weight: 400;
  padding-top: 100px;
}

.icon-container {
  display: flex;
  padding-top: 60px;
  justify-content: space-evenly;
}

.fas {
  color: #22263f;
  background-color: rgb(255, 255, 255);
  border-width: 5px;
  border-color: rgb(255, 203, 157);
  border-style: solid;
  border-radius: 50% 50% 50% 50%;
}

.fas:hover {
  background-color: rgb(255, 203, 157);
}

.fa-user-graduate {
  font-size: 45px;
  padding: 0.8% 0.8% 0.8% 0.8%;
}

.fa-laptop-code {
  font-size: 40px;
  padding: 1.1% 0.8% 0.8% 0.8%;
}

.fa-icons {
  font-size: 45px;
  padding: 1% 0.8% 0.8% 0.8%;
}

.contact-header {
  display: flex;
  padding-top: 200px;
  justify-content: left;
  width: 1000px;
  font-family: "Racing Sans One", cursive;
  font-size: 60px;
  margin-left: 870px;
  color: rgb(34, 38, 63);
}

.contact-container {
  display: flex;
  margin-top: 100px;
  position: relative;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.container-1 {
  height: 450px;
  display: grid;
  position: absolute;
  margin-top: 40px;
  margin-left: -25px;
}

.fab {
  color: rgb(34, 38, 63);
  font-size: 50px;
  margin-left: -21px;
  margin-top: -24px;
}

.fa-facebook-square:hover {
  color: rgb(66, 103, 178);
}

.fa-github-square:hover {
  color: rgb(143, 65, 162);
}

.fa-linkedin:hover {
  color: rgb(0, 119, 183);
}

.fab-square {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50% 50% 50% 50%;
  padding: 45px 45px 45px 45px;
  height: 0px;
  width: 0px;
}

.container-2 {
  width: 300px;
  height: 500px;
  background-color: rgb(255, 203, 157);
  border-radius: 50% 0% 0% 50%;
}

.container-3 {
  width: 700px;
  height: 500px;
  background-color: rgb(250, 235, 215);
  border-radius: 0% 10% 10% 0%;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

label {
  margin-top: 70px;
  color: rgb(34, 38, 63);
  margin-left: 150px;
  font-weight: bold;
  font-size: x-large;
}

input {
  border: 3px;
  border-radius: 9px;
  height: 40px;
  width: 328px;
  margin-left: 140px;
}

.email-container {
  margin-top: 20px;
}

.contact-text-container {
  margin-top: 20px;
}

.contact-text-container input {
  height: 115px;
}

.send-button {
  width: 83px;
  height: 40px;
  margin-top: 40px;
  margin-left: 388px;
  font-weight: bold;
  font-size: x-large;
  border-radius: 9px;
  background-image: linear-gradient(
    to right,
    #ff7e5f 0%,
    #feb47b 51%,
    #ff7e5f 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.send-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
